body{
  background-color: rgb(47, 255, 234);
}

.outer-container {
  height: 81vh;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: .9rem;
  color: #6c757d;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
