<body>
<nav>
  <div class="brand ">
    <ul>
      <a class="nav-link " routerLink="startframework" >START FRAMEWORK</a>
  </ul>
  </div>
  <ul class="nav-links">
      <li class="nav-item">
        <a class="nav-link " routerLink="about" routerLinkActive="bg-success text-white rounded-pill">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="portfolio" routerLinkActive="bg-success text-white rounded-pill">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="contact" routerLinkActive="bg-success text-white rounded-pill">CONTACT</a>
      </li>
  </ul>
</nav>




<router-outlet></router-outlet>






  <div class="container-fluid mt-5 p-5">
    <div class="row">
        <div class="col-md-4">
            <h2>LOCATION</h2>
            <address>
                2215 John Daniel Drive<br>
                Clark, MO 65243
            </address>
        </div>
        <div class="col-md-4">
            <h2>AROUND THE WEB</h2>
           <div class="icons  mt-4">
            <i class="fa-brands  fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
           </div>
        </div>
        <div class="col-md-4">
            <h2>ABOUT FREELANCER</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>
  <footer class="text-center p-0">
    <div class="footer">
      <p>Copyright © Your Website 2021</p>
    </div>
  </footer>


</body>
