<!-- <div class="container">
<img class="w-25 " src="../../assets/avataaars.svg">

    <div class="container text-center mt-5">
        <h1 class="main-title">Start Framework</h1>
        <p class="subtitle">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div> -->
  <body>
    <div class="outer-container  d-flex justify-content-center align-items-center">
        <div class="container  text-center">
            <img class="w-25" src="../../assets/avataaars.svg" alt="Avatar">
            <div class="mt-5">
                <h1 class="main-title">Start Framework</h1>
                <p class="subtitle">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</body>
